target/
!.mvn/wrapper/maven-wrapper.jar

.DS_Store
build
.gradle
dist/
out
log
**/META-INF/*

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.swp

### NetBeans ###
nbproject/private/
build/
nbbuild/
nbdist/
.nb-gradle/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### Generated sources ###
src/**/schema